@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* removing the input arrows for chrome */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
  margin: 0;
}

/* for firefox */

input[type=number]{
    -moz-appearance: none;
}

input{
  outline: none;
}

@theme {
  --font-inter: "Inter", sans-serif; 
}

